html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
b,strong{font-weight:700}
i{font-style:italic}
u{text-decoration:underline}
body{background:#98A0AA;color:#000;font-family:Roboto,helvetica,arial,sans-serif!important;font-size:15px;line-height:26px;margin:0;padding:0}
a:link{color:#29ABE2;text-decoration:none}
a:hover{color:purple;text-decoration:none}
a:visited{color:#29ABE2;text-decoration:none}
a img{border-width:0}
#header-LaraZ-wrapper{margin:0;padding:20px 20px 10px;height:auto}
#header-NeTlaraZ-first{width:50%;float:left}
#header-NeTlaraZ-scnd{width:50%;float:right}
#header-NeTlaraZ-scnd a img {width: 100%;}
.Header h1{margin:0;}
.Header h1 a{color:#FFF;text-decoration:none}
.Header h1 a:hover{color:#FFF}
.Header .description{color:#FFF;padding-bottom:5px 0 0 10px;letter-spacing:1px;font-weight: 600;}
#outer-LaraZ-wrapper{background:#fff;position:relative;text-align:left;overflow:hidden}
.maxer,#content-larazZ4ky-wrapper{max-width:960px;margin:0 auto}
#content-larazZ4ky-wrapper{position:relative;padding:0 20px}
#main-larazky-wrapper{position:relative;width:66%;float:left;padding:5px 0;word-wrap:break-word;margin:0 auto}
#main{margin-right:20px}
#sidebar-wrap-laraznet{position:relative;width:34%;float:right;word-wrap:break-word;margin:5px 0;overflow:hidden;font-size:13px;color:#464646}
.post{margin-bottom:5px;padding:0;padding-bottom:10px;background:#fff}
h2.post-title{display:block;font-size:16px;margin:0;padding:5px;line-height:20px;font-weight:700}
h2.post-title a,h2.post-title a:visited,h2.post-title strong{text-decoration:none}
h2.post-title strong,h2.post-title a:hover{text-decoration:none}
table{border-color:#CCC;border-style:solid;border-width:1px 1px 0;font-size:100%;line-height:18px;margin:0 0 22px;text-align:left}
tr{border-bottom:1px solid #CCC}
th,td{padding:.7em 1.25em;border-bottom:1px solid #CCC}
#blog-pager-newer-link{float:left;text-align:left}
#blog-pager-older-link{float:right;text-align:right}
#blog-pager{text-align:center;text-decoration:none;margin:0;}
#blog-pager a,#blog-pager div{display:block;padding:3px 6px}
#blog-pager a .blogsp1,#blog-pager div .blogsp1{border-radius:3px;}
#blog-pager div,#blog-pager div .blogsp1{}
.blogsp1,.blogsp2{display:block}
.blogsp2{font-size:100%;letter-spacing:2px}
#blog-pager a:hover{text-decoration:none;}
#sidebar .item-snippet,.futerkolom .item-snippet{font-size:11px;line-height:14px;text-align:justify}
#sidebar .item-thumbnail,.futerkolom .item-thumbnail{float:left;margin:0 5px 0 0;}
#sidebar .item-thumbnail a img,.futerkolom .item-thumbnail a img{width:100px;height:70px}
#sidebar .item-title,#sidebar .item-title a,.futerkolom .item-title,.futerkolom .item-title a{line-height:15px;line-height:20px;font-weight:700;overflow:hidden;text-overflow:ellipsis}
.sidetemplatebyLarazZbar h2{display:block;font-size:130%;text-align:center;word-spacing:normal;border: 1px solid #A01010;text-transform:uppercase;font-weight:500;padding:10px;letter-spacing:2px;line-height:140%}
.sidetemplatebyLarazZbar h3{}
.sidetemplatebyLarazZbar .widget-content.popular-posts{padding-top:0}
.sidetemplatebyLarazZbar{margin:0;padding:0 10px}
.sidetemplatebyLarazZbar ul,.futerkolom ul{list-style:none;margin:0;padding:0}
.sidetemplatebyLarazZbar ul li,.futerkolom ul li{font-size:13px;margin:0 auto;padding:10px 5px}
.futerkolom ul li{border-bottom:1px solid #505050}
.sidetemplatebyLarazZbar ul li a{text-decoration:none;color:#E74C3C}
.futerkolom ul li a,.futerkolom ul li a:visited,.futerkolom ul li a:link{color:#7e7e7e;text-decoration:none}
.futerkolom ul li a:hover{color:#999}
.sidetemplatebyLarazZbar ul li a:hover{text-decoration:underline;color:#0E8FEC}
.sidetemplatebyLarazZbar .widget-content{margin:0;padding:10px;background:#F1F1F1;border-radius:0 0 5px 5px}
.sidetemplatebyLarazZbar .widget{margin-top:0;margin-bottom:10px}
#fooNetlarazter-wrapper{width:auto;clear:both;border-top:1px solid transparent;background:#2D3133;color:#ccc}
.footerbawah{background:#212729;font-size:10px;color:#666;padding:10px 20px;line-height:15px;text-shadow:0 1px 0 #000;position:relative}
.footerbawah a{color:#777;font-weight:700}
.footerbawah a:hover{color:#fff}
.footerbawah .bcktotop{background:#30577A;position:absolute;left:50%;width:50px;height:30px;bottom:0;margin-left:-25px;text-decoration:none;text-align:center;font-size:16px;line-height:31px;text-shadow:none!important;color:#84A9C2;border-radius:5px 5px 0 0}
.footerbawahl{float:left;text-align:left}
.footerbawahr{float:right;text-align:right}
.footerbawahl ul,.footerbawahl li{list-style:none;margin:0;padding:0}
.footerbawahl li{display:inline}
.footerbawahl li:last-child .llas{display:none}
.parenfooter{margin:10px 10px 0}
.footer .widget{width:200px;float:left;margin:0;padding:0;font-size:100%}
.label-size{display:inline-block;font-size:13px;margin:2px 0}
.label-size a{background:#3B4247;padding:5px;color:#999;text-decoration:none;display:inline-block}
.label-size span{background:#3D5668;padding:5px;margin-left:-4px;display:inline-block;color:#fff}
.label-size a:hover{background:#3D5668;color:#fff}
.serching form{max-width:none;float:right;margin:6px;min-width:230px;background:#FFF;border:1px solid #2D3C70;border-radius:3px;position:relative}
.serching form input{display:block!important;margin:0;border:0;padding:5px 0;outline:0;height:16px;font-style:italic;line-height:16px;font-size:12px;border-radius:0!important;position:absolute;top:0;left:0;bottom:0;right:30px}
.serch{text-indent:10px;background:transparent}
.serchg{float:right;width:30px;height:26px!important;padding:0!important;background:transparent;color:#6B7DC5;border:0!important;font-size:12px!important;cursor:pointer}
.a .a:visited .a:hover .a:link{text-decoration:none}
.breadcrumbs{padding:3px;font-size:85%;margin-bottom:3px;font-weight:400}
.navNetlazsub{color:#fff;min-height:40px;background:#F1F1F1}
.navNetlazsub input,.navNetlazsub label{display:none}
.navNetlazsub label{height:40px;width:40px;text-align:left;color:#aaa;line-height:40px;font-size:25px;font-weight:700;text-align:center;margin-left:5px;cursor:pointer;float:left}
.navNetlazsub input:checked + div label{color:#fff}
.navNetlazsub ul{margin:0;padding:0}
.navNetlazsub li{list-style:none;margin:0;padding:0;float:left;position:relative}
.navNetlazsub li a{display:block;text-decoration:none;color:#666;line-height:40px;padding:0 15px;text-shadow:0 -1px #2A3741;padding-bottom:1px}
.navNetlazsub li a:hover,.navNetlazsub li:hover &gt; a{background:#DDD;color:#444}
.navNetlazsub li ul li a:hover,.navNetlazsub li ul li:hover &gt; a{background:#CCC}
.navNetlazsub li ul{transition:.3s ease-out;-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;position:absolute;top:100%;left:0;z-index:99;width:200px;opacity:0;height:auto;visibility:hidden;background:#DDD}
.navNetlazsub .maxer &gt; ul &gt; li &gt; ul{margin-top:-1px}
.navNetlazsub li ul li a{text-shadow:none;color:#333;line-height:30px}
.navNetlazsub li ul li{float:none;display:block;height:0;transition:.3s ease-out;-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;font-weight:400}
.navNetlazsub li ul ul{top:0;left:100%;border-top:0}
.navNetlazsub li:hover &gt; ul{opacity:1;visibility:visible}
.navNetlazsub li:hover &gt; ul li{height:30px}
.onshadow{border-top:1px solid #F0F0F0;height:10px}
.futerblock .widget{padding:10px 20px}
.BlogArchive #ArchiveList ul.posts li{line-height:14px;padding:5px;padding-left:1.3em}
h2.date-header{display:none}
#ArchiveList .toggle{cursor:pointer;_font-size:1.7em;line-height:.6em}
#ArchiveList .expanded>.toggle .zippy:after {
content: "\25BC\00A0";
}
#ArchiveList .toggle{cursor:pointer}
#ArchiveList .toggle-open{font-size:1.7em;line-height:.6em}
#ArchiveList{text-align:left}
#ArchiveList a.post-count-link,#ArchiveList a.post-count-link:link,#ArchiveList a.post-count-link:visited{text-decoration:none}
#ArchiveList a.toggle,#ArchiveList a.toggle:link,#ArchiveList a.toggle:visited,#ArchiveList a.toggle:hover{color:inherit;text-decoration:none}
.BlogArchive #ArchiveList ul li{background:none;list-style:none;list-style-image:none;list-style-position:outside;padding-left:15px;text-indent:-15px;background-image:none;border-width:0;margin:.25em 0}
.BlogArchive #ArchiveList ul ul li{padding-left:1.2em}
.BlogArchive #ArchiveList ul{list-style:none;list-style-image:none;border-width:0;margin:0;padding:0}
.BlogArchive #ArchiveList ul.posts li{padding-left:1.3em}
#ArchiveList .collapsed ul{display:none}
h2.post-titles{display:none}
.adsec{background:#e0e0e0;border:3px solid #999;height:65px;border-top-left-radius:50px;border-bottom-right-radius:50px;line-height:65px;font-size:11px;text-align:center;transition:all .4s ease-out;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out}
.adsec:hover{border-top-left-radius:20px;border-bottom-right-radius:20px;transition:all .4s ease-out;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out}
#fut1 .widget,#fut3 .widget{float:left;width:30%;padding:15px 1% 40px}
#fut2 .widget{float:left;width:34%;padding:15px 1% 40px}
.futerkolom{color:#a5a5a5;font-size:13px}
.futerkolom h2{color:#728088;font-weight:400;text-transform:uppercase;margin-bottom:7px;font-size:20px}
.quickedit{display:none}
.profile-img{float:left;margin:0 5px 5px}
.profile-data{margin:0}
.profile-datablock{margin:.5em 0}
.profile-name-link{background:no-repeat left top;display:inline-block;min-height:20px;padding-left:20px}
.profile-textblock{margin:.5em 0}
.status-msg-wrap{background:#EEE;border:1px solid #CCC;margin:10px;padding:10px;text-align:center}
#ads-1 {float: left;padding-right: 20px;}
@media screen and (max-width:902px) {
#outer-LaraZ-wrapper{border:0;margin:0}
.serching form{min-width:120px}
}
@media screen and (max-width:600px) {
.navNetlazsub{position:relative}
.navNetlazsub label{display:block}
.navNetlazsub ul{display:none;position:absolute;top:100%;left:0;right:0;background:#DDD;z-index:1}
.navNetlazsub > .maxer > ul > li{float:none}
.navNetlazsub > .maxer > ul > li > a{line-height:35px}
.navNetlazsub > .maxer > ul > li > ul{margin-bottom:10px}
.navNetlazsub input:checked + div ul{display:block}
.navNetlazsub li ul li:hover > a,.navNetlazsub li:hover > a{background:transparent}
.navNetlazsub a:hover{background:#CCC!important}
.navNetlazsub li:hover > ul{opacity:1}
.navNetlazsub li ul{position:static;visibility:visible;opacity:1;width:auto;background:transparent}
.navNetlazsub li ul li a,.navNetlazsub li a{color:#666}
.navNetlazsub li ul li,.navNetlazsub li:hover > ul li{height:auto}
.navNetlazsub li ul li{margin-left:20px;border-left:3px solid #2A5A86}
.related-post li{width:48%!important;padding:5px 1%!important;height:120px}
.serching form{min-width:0;min-width:0;float:none;position:absolute;left:45px;right:0}
.Header h1{font-size:42px}
.Header .description{font-size:100%}
#blog-pager{margin:0}
#main-larazky-wrapper{float:none;display:block;width:auto;padding:0}
#sidebar-wrap-laraznet{float:none;display:block;width:auto;margin:0}
#header-LaraZ-wrapper{text-align:center}
#header-NeTlaraZ-first,#header-NeTlaraZ-scnd{float:none;width:auto}
#content-larazZ4ky-wrapper{padding:5px}
#main{margin-right:0!important}
#fut1 .widget,#fut3 .widget,#fut2 .widget{float:none;width:auto;padding:5px 10px 20px}
.footerbawah *{float:none!important;text-align:center!important}
.footerbawah{padding:10px 20px 40px}
